
header{
  background:#a8c3a4;/*med tourquoise*/
  height:135px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
}
#innerheader{
  float:left;
  width:82%;
}

#logo {
		float: right;
		max-width: 745px;
    width:76%;
    margin-top:22px;
}

/* ---------------- BEGIN SOCIAL MEDIA -------------------- */
#socialmedia {
  list-style:none;
  float:left;
  margin-left: 5%;
}

#socialmedia ul {
  display: inline;
  width:24%;
}

#socialmedia ul li {
  display: inline-block;
  padding: 10px 10px;
  margin-top: 30px;

}

#socialmedia a {
display:block;
width:40px;
height:40px;
background-repeat: no-repeat;
background-size: cover;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}

.twitter a {
  display:block;
  background-image:url('images/twitter.png');
}
.facebook a {
  display:block;
  background-image:url('images/facebook.png');
}



/* ---------------- END SOCIAL MEDIA -------------------- */
#donatebtn {
  color:white;
   width: 14.5833%;
   height: 55px;
   float:right;
   border-radius:20px;
   background: #E2804F;
   margin-top: 35px;
}

#donatebtn p {
  font-size: 1.6em;
  line-height: 45px;
  text-align: center;
}

/* --------------start css drop down menu -----------*/

.jquery-nav {
max-width: 1200px;
margin: 0 auto;
overflow: hidden;
}
.jquery-title {

display:none;
}

/*Begin Nav*/


div.menu-main-menu-container {
max-width: 100%;
margin: 0px auto;
background:#63897a;/* dark turquoise */
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;

-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
transition: all 0.3s ease;
}

#menu-main-menu {
text-align: center;
overflow: hidden;
height:64px;
}

#menu-main-menu > li {

font-size: 1.125em;
display: inline-block;
list-style-type: none;

}


#menu-main-menu > li a {
display: block;
text-decoration: none;
color: #EEF2DC;
padding: 17px 20px;
font-size: 1.4em;

}
#menu-main-menu > li a:hover {

background-color:#EEF2DC;/*eggshell white*/
color:#63897a;/* dark turquoise */
/*border-bottom:2px solid #f6ead1;*/


}


#menu-main-menu ul.sub-menu {
text-align: left;
position: absolute;
display: none;
background-color: rgba(99,137,122,1);
border-radius: 0 0 10px 10px;
z-index: 20;

}

#menu-main-menu ul.sub-menu > li {
display: block;
border-bottom: 1px solid #EEF2DC;/*eggshell white*/

float: none;

}

#menu-main-menu ul.sub-menu li a {
padding: 11px 12px;


}



#menu-main-menu li:hover > ul.sub-menu{
display: block;
margin: 0;
border-radius:10px;
}

#donate-m{
	display:none;
}
#social-m{
	display:none;
}
/*End Nav*/

/* ---------------------  Media Queries --------------------------------  */
/* Main Nav and Header */
@media screen and (min-width:951px) and (max-width:1200px)

{
  header{
    /*background: yellow;*/
}

	ul#menu-main-menu.menu > li a {
		padding: 17px 6px;
	}
	ul#menu-main-menu.menu > li  {
	border-right: 1px solid antiquewhite;
	}
}
@media screen and (min-width:871px) and (max-width:950px)
{

  header{
  /*background: purple;*/
  }
  #menu-main-menu {
  text-align: center;
  overflow: hidden;
  height:126px;
  }
  ul#menu-main-menu.menu > li a {
    padding: 17px 36px;
  }
  ul#menu-main-menu.menu > li  {
  /*border-right: 1px solid green;*/
  }

}
@media screen and (min-width:200px) and (max-width:870px)
{
  #innerheader{
    float:left;
    width:100%
  }

  #logo {
  		float:none;
  		max-width: 745px;
      width:80%;
      margin-top:3%;
      margin-left:10%;
        margin-right:10%;
  }
  header{
    /*background: green;*/
  }

  header{
  	height: 120px;
  }
  #donatebtn{
  	display:none;
  }
  #socialmedia{
  	display:none;
  }
  #donate-m{
  	display: block;
  	width:50%;
  	float:left;
  	height: 65px;
    background: #E2804F;
  }
  #donate-m a{
    font-size: 1.7em;

    text-align: center;
    color:white;
  }
  #social-m{
  	display: inline;
  	width:50%;
  	float:right;
  	height: 64px;
  	/*background: yellow;*/
  }


  .twitter-m  {
    float:left;
    width:50%;

  }
  .facebook-m  {
    float:right;

  }

  #primary{
  	width:100%;
  	float:none;

  }
  main{
  	width:100%;
  	float:none;

  }
  .jquery-nav {
  	width:100%;
  	height: auto;
  }
  /*mobile nav bar*/
  .jquery-title {
  	background:#63897a;/* dark turquoise */
  	padding: 14px 24px;
  	display:inherit;

  }
  .jquery-title a {
  	color:#EEF2DC !important;
  	font-size: 1.5em;
  }





	.jquery-nav .menu-main-menu-container {
		display: none;
		height:auto;

	}

	#menu-main-menu {
		text-align: left;
		height:auto;

	}

	/*drop down mobile bg*/
	  .jquery-nav li {
	    float: none;
	    display: block;
	    background-color:#63897a;/* dark turquoise */

  }
	#menu-main-menu > li {


		display: block;


	}
	#menu-main-menu > li a {
		display: block;

	}


	div.menu-icon {
		float:right;
		width:40px;
	}
	div.menu-icon img {
		width:100%;
	}

	#menu-main-menu li:hover > ul.sub-menu{
		display: none

	}





}
